.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 0 0 50vw;
  max-width: 50vw;
}

.map {
  width: 50vw;
  cursor: pointer;
}

.geo {
  position: absolute;
}
.geo img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1281px) {
  
  .wrapper {
    flex-wrap: wrap;
  }
  
  .column {
    flex: 0 0 100vw;
    max-width: 100vw;
  }

  .map {
    width: 100vw;
  }

  
}
